.idea/.idea.BPMSoftConsoleApp/.idea/.gitignore
.idea/.idea.BPMSoftConsoleApp/.idea/encodings.xml
.idea/.idea.BPMSoftConsoleApp/.idea/indexLayout.xml
.idea/.idea.BPMSoftConsoleApp/.idea/misc.xml
.idea/.idea.BPMSoftConsoleApp/.idea/vcs.xml
